p {
  font-size: 14pt;
}

.resumeimg {
  border: solid #ddd;
  border-radius: 4px;
  margin: auto;
  max-width: 30em;
}

.resumeimg:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.typewriter h1 {
  width: 6em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  font-family: "Courier New", Courier, monospace;
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 1.5s steps(8, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 6em }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
